/* Center the contents of the body element */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: orange;
}

/* Style the todo list */
#list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 10px inset brown;
  font-size: 40px;
}

/* Style the new task form */
#new-task-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#new-task-title {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

button[type='submit'] {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: brown;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

button[type='submit']:hover {
  background-color: #0069d9;
}

button[type='submit']:active {
  background-color: #0062cc;
}

button {
  background: linear-gradient(90deg, #ff8c00, #ffd700);
  color: white;
  font-size: 18px;
  border: 1px;
}
